<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Proficient
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Python, Javascript, Angular, Git, Scikit-learn
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Familiar
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Java, Firestore, OpenCV, MATLAB, C++, SQL, Typescript, PyTorch, Android Development, Haskell
        </p>
    </mat-card-content>
</mat-card>