<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Software Engineer
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>Company: </b> Yelp
        </p>

        <p>
            <b>Duration: </b> 1<sup>st</sup> July 2019 - present
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Graduate Teaching Assistant
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>Course: </b> Computer Vision
        </p>
        <p>
            <b>University: </b> Georgia Institute of Technology
        </p>
        <p>
            <b>Duration: </b> January 2018 - May 2019
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Teaching Assistant
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>Course: </b> Data Structures
        </p>
        <p>
            <b>University: </b> Lahore University of Management Sciences
        </p>
        <p>
            <b>Duration: </b> February - May 2016, 2017
        </p>
    
        <br>

        <p>
            <b>Course: </b> Probability
        </p>
        <p>
            <b>University: </b> Lahore University of Management Sciences
        </p>
        <p>
            <b>Duration: </b> August - December 2015
        </p>

        <br>

        <p>
            <b>Course: </b> Computational Problem Solving
        </p>
        <p>
            <b>University: </b> Lahore University of Management Sciences
        </p>
        <p>
            <b>Duration: </b> August - December 2016
        </p>
    </mat-card-content>
</mat-card>