.mat-card {
    height: fit-content;
    width: fit-content;
}

.mat-card-subtitle {
    font-family: 'Ubuntu', sans-serif;
}

.icons, .mat-card-header, .mat-card-subtitle {
    color: var(--primary-color);
}

button {
    height: 50px;
    width: 50px;
}

a {
    margin-left: 1%;
}

.centerBoth {
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.avatar {
    background-image: url('/assets/dp.jpg');
    background-size: cover;
  }