<div class="main-page">
    <section class="mat-typography">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
            <mat-card-title>
                {{this.gs.NAME}}
            </mat-card-title>
            <mat-card-subtitle>
                {{this.gs.JOB}} at {{this.gs.COMPANY}}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://lh5.googleusercontent.com/-QnIl6M8rHeM/AAAAAAAAAAI/AAAAAAAAO1Q/CEsjKbnptXA/photo.jpg">

        <mat-card-actions>
            <a href="https://www.facebook.com/alhaamid" target="_blank">
                <button mat-button>
                    <i class="centerBoth icons fab fa-facebook-f fa-2x"></i>        
                </button>
            </a>
            <a href="https://github.com/alhaamid" target="_blank">
                <button mat-button>
                    <i class="centerBoth icons fab fa-github fa-2x"></i>
                </button>
            </a>
            <a href="https://www.linkedin.com/in/alhaamid/" target="_blank">
                <button mat-button>
                    <i class="centerBoth icons fab fa-linkedin-in fa-2x"></i>
                </button>
            </a>
            <a href="mailto:abdullateefhaamid@gmail.com" target="_blank">
                <button mat-button>
                    <i class="centerBoth icons fas fa-envelope fa-2x"></i>
                </button>
            </a>
        </mat-card-actions>
    </mat-card>
    </section>
</div>