<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Pomodoro time tracker
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I implemented the backend of a pomodoro time tracking web application. 
            <br>
            Our class was divided into teams for backend, mobile, web and dev ops. The mobile and web teams were able to connect and successfully interact with our server.
            <br>
            For the unit testing of the backend, I used Java and Junit.
            <br>
            For the backend, I used Node.js, TypeScript and MongoDB.
        </p>

        <p>
            <a href="https://github.com/niranjantdesai/ptt-backend" target="_blank">
                Repo
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            GRUDY
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I developed a website for students to collaborate and have discussions in groups. 
            <br>
            Students can add enroll/drop courses, create/update/delete posts and discussions within posts. 
            <br>
            I followed the REST architectural style and used Angular 6.0.2 for the frontend and Express.js with MongoDB for the backend.
        </p>

        <p>
            <a href="https://github.com/alhaamid/grudy" target="_blank">
                Repo
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Semicolon
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As an independent project, I developed a Node.js (server and client) application to conduct programming competitions in my university. 
            <br>
            The server would keep track of the leaderboard and automatically grade code submissions based on correctness and time spent. 
            <br>
            Administrator could also modify the results on the go. 
            <br>
            Average grading time was less than 100 ms.
        </p>

        <p>
            <a href="https://github.com/alhaamid/semicolon" target="_blank">
                Repo
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            To do
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            To learn the Angular framework, I developed a To do list web application from scratch which allows multiple users to sign up and create, read, update or delete tasks. 
            <br>
            I used Angular 6.0.2 for my front end and Firestore as my database.
        </p>

        <p>
            <a href="https://github.com/alhaamid/semicolon" target="_blank">
                Repo
            </a>
            &nbsp;
            <a href="https://testing-angular-auth-firebase.firebaseapp.com/" target="_blank">
                App
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            A view from the other side
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of an independent project, I statistically analyzed approximately 1TB of phone call records to identify and understand cell phone specifications and the bottlenecks therein. 
            <br>
            I used Python to write web crawlers to get these specifications. 
            <br>
            This work was published in and presented at the Proceedings of ACM IMC November 2016.
        </p>

        <p>
            <a href="https://dl.acm.org/citation.cfm?id=2987470" target="_blank">
                Publication
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            DTOUR
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I designed the front end of a web application (DTOUR) for destination-oriented taxi and rideshare drivers in New York. 
            <br>
            Given a source and destination, DTOUR would suggest paths with a higher chance of picking up passengers going towards the destination. 
            <br>
            Suggested routes were, on average 25 times more likely to pick up someone with a similar route than the route suggested by Google Maps.
            <br>
            I implemented the front-end in Javascript using Google Maps Directions and Services API.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Smart bulb controller
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As an independent project, I wrote a simple piece of code to use the <a href="https://github.com/plasticrake/tplink-smarthome-api/">tplink-smarthome-api</a> library to slowly change the color of the smart bulbs in my home.
            <br>
            I used Typescript for this.
        </p>

        <p>
            <a href="https://github.com/alhaamid/tplink-smart-bulb-controller" target="_blank">
                Repo
            </a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Face detection with a sliding window
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I wrote a simplified version of Dalal and Trigg’s face detection algorithm. 
            <br>
            I used histogram of gradients as features and a linear SVM to train and classify image patches. 
            <br>
            I reached an average precision of 92.1%
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Scene recognition with bag of words
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I implemented an application that clusters quantized local features from training images to build an index of features. 
            <br>
            Then, it uses SIFT features and linear classifiers learned by support vector machines to classify scenes into categories; kitchen, forest, office etc. 
            <br>
            I was able to reached an accuracy of 80%.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Scene recognition with deep learning
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of a course project, I fine-tuned a pre-trained VGG-F deep network which achieved more than 85% accuracy even though the network was initially trained for classifying object categories.
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Causality in text
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            As part of my final year project, I wrote a Java application that used Machine Learning to identify chains of causality in events across social and geographical domains. 
            <br>
            Data was accumulated from social media sources and news journals across Pakistan.
        </p>
    </mat-card-content>
</mat-card>