<div class="menu">
    <div class="left-aligned">
        <div class="left-aligned link-box">
            <a routerLink="/" [routerLinkActive]="'current-page' " [routerLinkActiveOptions]="{exact: true}">Home</a>
        </div>

        <div class="left-aligned link-box">
            <a href="https://docs.google.com/document/d/1Rn0AiOgl0bN-cYoZoka7WWQ5usMo2g588iBy406ueP8/edit" target="_blank">Resume</a>
        </div>
    </div>
    
    <div class="right-aligned">
        <div class="right-aligned link-box">
            <a routerLink="/contact" [routerLinkActive]="'current-page' " [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </div>
    </div>
</div>