<div class="main-page">
    <section class="mat-typography">
        <h3>
            Welcome to my website
        </h3>
        
        <p>
            Here you will find information related to my career pursuits. This includes updates on my work experience, projects, list of publications, skills etc.
        </p>

        <br>

        <mat-tab-group>
            <mat-tab label="Introduction">
                <app-intro></app-intro> 
            </mat-tab>
            <mat-tab label="Education">
                <app-education></app-education>
            </mat-tab>
            <mat-tab label="Work Experience">
                <app-work></app-work>
            </mat-tab>

            <mat-tab label="Projects">
                <app-projects></app-projects>
            </mat-tab>

            <mat-tab label="Publications">
                <app-publications></app-publications>
            </mat-tab>

            <mat-tab label="Skills">
                <app-skills></app-skills>
            </mat-tab>

            <mat-tab label="Honors and Awards">
                <app-honors></app-honors>
            </mat-tab>
        </mat-tab-group>
    </section>

</div>