<div class="main-page">
    <section class="mat-typography">
        <h2>
            Welcome!
        </h2>
        
        <h3> 
            My name is Abdul Lateef Haamid and I am a Software Engineer at Yelp. 
            <br>
            Here you will find information related to me and my career pursuits.
        </h3>

        <br>

        <mat-tab-group>
            <mat-tab label="Work Experience">
                <app-work></app-work>
            </mat-tab>

            <mat-tab label="Projects">
                <app-projects></app-projects>
            </mat-tab>

            <mat-tab label="Education">
                <app-education></app-education>
            </mat-tab>

            <mat-tab label="Publications">
                <app-publications></app-publications>
            </mat-tab>

            <mat-tab label="Skills">
                <app-skills></app-skills>
            </mat-tab>

            <mat-tab label="Honors and Awards">
                <app-honors></app-honors>
            </mat-tab>
        </mat-tab-group>
    </section>

</div>