<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            A View from the Other Side: Understanding Mobile Phone Characteristics in the Developing World
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <a href="https://dl.acm.org/citation.cfm?id=2987470" target="_blank">ACM IMC Nov 2016</a>
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Untangling Web Browsing on Low-end Mobile Devices
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <a href="https://conferences.sigcomm.org/imc/2018/posters/" target="_blank">ACM IMC Oct 2018</a>
        </p>
    </mat-card-content>
</mat-card>