<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Dean’s Honor List
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            2014-15
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Won "Mathma Logos Arete" (an intercollege mathematics competition)
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            2012
        </p>
    </mat-card-content>
</mat-card>