.mat-card-content {
    margin-left: 17px
}

.mat-card {
    margin: 1em .1em;
    max-width: 99%;
}

.heading {
    /* text-decoration-line: underline; */
    font-weight: 500; 
    color: var(--primary-color);
    font-family: 'Ubuntu', sans-serif;
}