<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Master of Science in Computer Science
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>Specialization: </b> Machine Learning
        </p>
        <p>
            <b>University: </b> Georgia Institute of Technology
        </p>
        <p>
            <b>GPA: </b> 4.0
        </p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title class="heading">
            Bachelor of Science in Computer Science
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <b>University: </b> Lahore University of Management Sciences
        </p>
        <p>
            <b>GPA: </b> 3.56
        </p>
    </mat-card-content>
</mat-card>